/* Navigation Bar */
#navbar {
    background-color: #F1F3FF;
}

.navbar__logo {
    padding-left: 6%;
}

#navbar__menu {
    padding-right: 8%;
}

.navbar ul li {
    margin: 0 8px;
}

/* Main Section (content-1) */
.content-1 {
    background-color: #F1F3FF;
    padding-top: 7%;
}

.content-1__text {
    padding-left: 7%;
    padding-top: 3.5%;
}

.content-1__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 150%;
    color: #000000;
}

.content-1__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.content-1__gambar {
    padding-right: 0;
}

/* Our Service Section (content 2) */
.content-2 {
    display: flex;
    padding-top: 7%;
}

.content-2__gambar {
    padding-right: 20%;
}

.content-2__text {
    padding-left: 6%;
    padding-top: 3%;
}

.content-2__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.content-2__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/* Why Us Section (content-3) */
.content-3 {
    padding-top: 7%;
    margin-left: 6%;
}

.content-3__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.content-3__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.content-3__body {
    margin-right: 60px;
}

.card {
    margin-top: 10%;   
}

.card-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

/* Testimonial Section (content-4) */
.content-4 {
    padding-top: 7%;
}

#carouselExampleControls {
    width: 130%;
    left: -15%; 
}

.overflow {
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.content-4__body {
    background-color: #F1F3FF;
    width: 619px;
    height: 270px;
    margin: 10px;
}

.flex-container {
    padding-bottom: 5%;
}

.content-4__header--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.content-4__header--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.content-4__gambar {
    margin-left: 20px;
    margin-top: 15%;
}

.content-4__text {
    margin-top: 10%;
    margin-right: 10px;
}

.content-4__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.content-4__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.carousel-control-next, .carousel-control-prev {
    top: 275px;
    width: 0%;
}

.carousel-control-prev {
    margin-left: 790px;
}

.carousel-control-next {
    margin-right: 790px;
}

/* Getting Started Section (content-5) */
.content-5 {
    padding-top: 5%;
    height: 400px;
}

.content-5__body {
    position: absolute;
    width: 1051px;
    height: 326px;
    left: 7.1%;
    background: #0D28A6;
    border-radius: 13px;
}

.content-5__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 64px;
}

.content-5__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

/* Frequently Asked Question Section (content-6) */
.content-6 {
    padding-top: 7%;
    padding-left: 7.1%;
    margin-right: 15px;
}

.content-6__body {
    margin-right: 1px;
}

.content-6__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.content-6__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.content-6__text--3 {
    margin-left: 110px;
}

.content-6__text--4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.accordion > .card,
.accordion > .card:not(:last-of-type) {
    border-bottom: 1px solid #d4d4d4;
}

.card {
    width: 550px;
}

.card-header {
    background-color: transparent;
}

.card-body {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 12px

}

#content-6__button {
    color: #000000;
}

#content-6__button:hover {
    text-decoration: underline;
}

/* Footer */
.content-footer {
    padding-top: 14%;
    height: 450px;
}

.footer__kolom--1 {
    margin-left: 12px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.footer__kolom--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-left: 40px;
}

.footer__kolom--3 {
    margin-left: -25px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.footer__kolom--3 p {
    margin-left: 10px;
}

.footer__kolom--3 li {
    list-style-type: none;
    float: left;
    margin: 0 8px; 
}

.footer__kolom--4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 50px;
}